<div class="col-md-3 col-sm-6 item mt-4">
  <div class="card item-card card-block">
    <%= link_to movie, class: 'text-decoration-none' do %>
      <h4 class="card-title m-0 text-right"><i class="material-icons"></i></h4>
      <% if movie.image.attached? %>
        <%= image_tag movie_image(movie), class: "card-img-top movie-img" %>
      <% else %>
        <%= image_tag default_img, alt: "Photo of sunset", class: "movie-img" %>
      <% end %>   
      <h5 class="text-black item-card-title mt-3 mb-3 m-2">Movie Name:- <b><%= truncate(movie_name(movie), length: 20)   %></b></h5>
      <h5 class="text-black item-card-title mt-3 mb-3 m-2">Language:- <b><%=movie_language(movie)  %></b></h5>
    <% end %>
  </div>
</div>

</style>

