<%= form_with(model: booking, html: { class: 'form-horizontal' }) do |form| %>
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Book Your Seat</h2>
        <div class="form-group">
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :show_id, value: params[:show_id] %>
          <%= form.hidden_field :movie_id, value: params[:movie_id] %>

        </div>
        <div class="form-group">
          <%= form.label :seat_ids, "Select Seats:", class: 'control-label' %></br>
          <%= form.select :seat_ids, options_for_select(@show.seats.map { |seat| [seat.seat_no, seat.id] }), {}, multiple: true, class: 'form-control seat-select-box',  required: true  do %>
            <% @show.seats.order(created_at: :asc).each do |seat| %>
              <option value="<%= seat.id %>" <%= 'disabled' if seat.booked? %>> <%= seat.seat_no %> </option>
            <% end %>
          <% end %>
        </div>
        <div class="form-group">
          <% if available_seats(@show) > 0 %>
            <%= form.submit "Book Now", class: 'btn btn-primary mt-2' %>
          <%else%>
          <h3 class=" text-warning"> HouseFull</h3> 
          <%end%>
        </div>
      </div>
    </div>
 </div>
<% end %>
