<div id="<%= dom_id show %>">
  <p>
    <strong>Show date:</strong>
    <%= show.show_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= show.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= show.end_time %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= show.movie_id %>
  </p>

 <p>
    <strong>Price Per Ticket:</strong>
    <%= show.price_per_ticket %>
  </p>

</div>
